<h1>Coney Island Hair Salon</h1>

<br>

<form action="/stylists" method="post">
  <label for="stylist_name">Hire a new stylist:</label>
  <input id="stylist_name" name="stylist_name" type="text" placeholder="Name">

  <button type="submit">Add Stylist</button>
</form>

<% if @stylists.any?() %>
  <p>Click on a stylist to see their clients:</p>

  <ul>
    <% @stylists.each() do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't hired any stylists yet!</p>
<% end %>
